.stars {
	display: inline-block;
	font-size: var(--star-dim);
	font-family: Times; /* make sure ★ appears correctly */
	line-height: 1;
}

.stars::before {
    content: '★★★★★';
    letter-spacing: var(--star-spacing);
    background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-bg) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}