@import url('./colors.css');
@import url('./variables.css');
@import url('./fonts.css');

html {
	/* BASE FONT SETTING */
	font-size: var(--font-size-min);
}

@media only screen and (min-width: 450px) {
	html {
		  font-size: calc(var(--font-size-min) + (16 - 12) * (100vw - 500px) / (1920 - 500));
	}
  }

body {
	font-family: var(--font-family);
	background-color: var(--background-color);
	color: var(--text-dark);
	margin: 0;
	padding: 0;
  }

  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

ul {
	list-style: none;
}

/*  APP LAYOUT */

.App {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
	outline: none; /* less accessibility, can be sorted after some talks with design */
}

.main-container {
	width: 100%;
	max-width: var(--max-width);
	height: auto;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 8rem;
	padding-left: var(--base-padding);
	padding-right: var(--base-padding);
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0.5rem 1rem;
	background-color: var(--color-heading-1);
}

/* POSITIONS */



 /* TEXTS */

.article-title {
	font-size: var(--font-xs);
	line-height: var(--line-height-xs);
	font-weight: 700;
	color: var(--color-heading-1);
}

.article-desc {
	font-size: 0.9rem;
	line-height: var(--line-height-xs);
	color: var(--color-black-dark);
}

 /* BUTTONS */

.btn,
button {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	transition: all 300ms ease-in-out;
	margin: 0;
	border: 0;
	background-color: var(--color-white-lightish);
	cursor: pointer;
	border-radius: var(--border-rad);
}

.btn:hover,
button:hover {
	background-color: var(--color-white-middle);
}

.btn-sm {
	font-size: var(--font-xs);
	line-height: var(--line-height-xs);
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

.btn-md {
	font-size: var(--font-sm);
	line-height: var(--line-height-sm);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.btn-lg {
	font-size: var(--font-md);
	line-height: var(--line-height-md);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.btn-wide.btn-sm {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.btn-wide.btn-md {
	padding-left: 1rem;
	padding-right: 1rem;
}

.btn-wide.btn-lg {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.btn-widest.btn-sm {
	padding-left: 1rem;
	padding-right: 1rem;
}

.btn-widest.btn-md {
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn-widest.btn-lg {
	padding-left: 3rem;
	padding-right: 3rem;
}

.type-sub-cat {
	font-size: var(--font-sm);
	line-height: var(--line-height-sm);
	background-color: var(--btn-subcat-bg);
	border: 0;
	color: var(--btn-subcat-text);
	text-decoration: none;
	box-shadow: 0px 4px 10px -4px var(--color-white-middle);
}

.type-sub-cat:hover {
	background-color: var(--btn-subcat-bg-hover);
	color: var(--btn-subcat-text-hover);
}

.btn-primary {
	background-color: var(--btn-primary-bg);
	border-color:  var(--btn-primary-border);
	color: var(--btn-primary-text);
}

.btn-primary > .dropdown-chevron {
	border-bottom-color: var(--btn-primary-text);
}

.btn-primary:hover {
	background-color: var(--btn-primary-bg-hover);
	border-color:  var(--btn-primary-border-hover);
	color: var(--btn-primary-text-hover);
}

.btn-primary:hover > .dropdown-chevron {
	border-bottom-color: var(--btn-primary-text-hover);
}

.btn-secondary {
	background-color: var(--btn-secondary-bg);
	border-color:  var(--btn-secondary-border);
	color: var(--btn-secondary-text);
}

.btn-secondary > .dropdown-chevron {
	border-bottom-color: var(--btn-secondary-text);
}

.btn-secondary:hover {
	background-color: var(--btn-secondary-bg-hover);
	border-color:  var(--btn-secondary-border-hover);
	color: var(--btn-secondary-text-hover);
}

.btn-secondary:hover > .dropdown-chevron {
	border-bottom-color: var(--btn-secondary-text-hover);
}

.type-tab-anchor {
	white-space: nowrap;
	background-color: var(--btn-tab-bg);
	border-style: solid;
	border-width: var(--btn-tab-border-w);
	border-top-width: var(--btn-tab-border-top-active-w);
	border-color: var(--btn-tab-border);
	border-top-color: var(--btn-tab-border-top);
	border-radius: 0;
	border-bottom: 0;
	color: var(--btn-tab-text);
}

.type-tab-anchor:hover {
	background-color: var(--btn-tab-bg-hover);
	border-color: var(--btn-tab-border-hover);
	border-top-color: var(--btn-tab-border-top-hover);
	color: var(--btn-tab-text-hover);
}

.type-tab-anchor.active {
	background-color: var(--btn-tab-bg-active);
	border-color: var(--btn-tab-border-active);
	border-top-color: var(--btn-tab-border-top-active);
	color: var(--btn-tab-text-active);
}

.type-tab-anchor:hover.active {
	background-color: var(--btn-tab-bg-active-hover);
	border-color: var(--btn-tab-border-active-hover);
	border-top-color: var(--btn-tab-border-top-active-hover);
	color: var(--btn-tab-text-active-hover);
}

/* for styles when button, input and combinations are in one line next to each other */
.active-object-group {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

.active-object-group button:first-child:not(:only-child),
.active-object-group .btn:first-child:not(:only-child) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.active-object-group button:last-child:not(:only-child),
.active-object-group .btn:last-child:not(:only-child) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.active-object-group button:not(:first-child, :last-child, :only-child),
.active-object-group .btn:not(:first-child, :last-child, :only-child) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/* MARGINS AND PADDINGS */

.m-h-center {
	margin: 0 auto;
}

.m-0 {
	margin: 0;
}

.m-1 {
	margin: calc(var(--margin-padding-divider) * 1);
}

.m-2 {
	margin: calc(var(--margin-padding-divider) * 2);
}

.m-3 {
	margin: calc(var(--margin-padding-divider) * 3);
}

.m-4 {
	margin: calc(var(--margin-padding-divider) * 4);
}

.m-5 {
	margin: calc(var(--margin-padding-divider) * 5);
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: calc(var(--margin-padding-divider) * 1);
}

.mt-2 {
	margin-top: calc(var(--margin-padding-divider) * 2);
}

.mt-3 {
	margin-top: calc(var(--margin-padding-divider) * 3);
}

.mt-4 {
	margin-top: calc(var(--margin-padding-divider) * 4);
}

.mt-5 {
	margin-top: calc(var(--margin-padding-divider) * 5);
}

.mr-0 {
	margin-right: 0;
}

.mr-1 {
	margin-right: calc(var(--margin-padding-divider) * 1);
}

.mr-2 {
	margin-right: calc(var(--margin-padding-divider) * 2);
}

.mr-3 {
	margin-right: calc(var(--margin-padding-divider) * 3);
}

.mr-4 {
	margin-right: calc(var(--margin-padding-divider) * 4);
}

.mr-5 {
	margin-right: calc(var(--margin-padding-divider) * 5);
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: calc(var(--margin-padding-divider) * 1);
}

.mb-2 {
	margin-bottom: calc(var(--margin-padding-divider) * 2);
}

.mb-3 {
	margin-bottom: calc(var(--margin-padding-divider) * 3);
}

.mb-4 {
	margin-bottom: calc(var(--margin-padding-divider) * 4);
}

.mb-5 {
	margin-bottom: calc(var(--margin-padding-divider) * 5);
}

.ml-0 {
	margin-left: 0;
}

.ml-1 {
	margin-left: calc(var(--margin-padding-divider) * 1);
}

.ml-2 {
	margin-left: calc(var(--margin-padding-divider) * 2);
}

.ml-3 {
	margin-left: calc(var(--margin-padding-divider) * 3);
}

.ml-4 {
	margin-left: calc(var(--margin-padding-divider) * 4);
}

.ml-5 {
	margin-left: calc(var(--margin-padding-divider) * 5);
}

.p-0 {
	padding: 0;
}

.p-1 {
	padding: calc(var(--margin-padding-divider) * 1);
}

.p-2 {
	padding: calc(var(--margin-padding-divider) * 2);
}

.p-3 {
	padding: calc(var(--margin-padding-divider) * 3);
}

.p-4 {
	padding: calc(var(--margin-padding-divider) * 4);
}

.p-5 {
	padding: calc(var(--margin-padding-divider) * 5);
}

.pt-0 {
	padding-top: 0;
}

.pt-1 {
	padding-top: calc(var(--margin-padding-divider) * 1);
}

.pt-2 {
	padding-top: calc(var(--margin-padding-divider) * 2);
}

.pt-3 {
	padding-top: calc(var(--margin-padding-divider) * 3);
}

.pt-4 {
	padding-top: calc(var(--margin-padding-divider) * 4);
}

.pt-5 {
	padding-top: calc(var(--margin-padding-divider) * 5);
}

.pr-0 {
	padding-right: 0;
}

.pr-1 {
	padding-right: calc(var(--margin-padding-divider) * 1);
}

.pr-2 {
	padding-right: calc(var(--margin-padding-divider) * 2);
}

.pr-3 {
	padding-right: calc(var(--margin-padding-divider) * 3);
}

.pr-4 {
	padding-right: calc(var(--margin-padding-divider) * 4);
}

.pr-5 {
	padding-right: calc(var(--margin-padding-divider) * 5);
}

.pb-0 {
	padding-bottom: 0;
}

.pb-1 {
	padding-bottom: calc(var(--margin-padding-divider) * 1);
}

.pb-2 {
	padding-bottom: calc(var(--margin-padding-divider) * 2);
}

.pb-3 {
	padding-bottom: calc(var(--margin-padding-divider) * 3);
}

.pb-4 {
	padding-bottom: calc(var(--margin-padding-divider) * 4);
}

.pb-5 {
	padding-bottom: calc(var(--margin-padding-divider) * 5);
}

.pl-0 {
	padding-left: 0;
}

.pl-1 {
	padding-left: calc(var(--margin-padding-divider) * 1);
}

.pl-2 {
	padding-left: calc(var(--margin-padding-divider) * 2);
}

.pl-3 {
	padding-left: calc(var(--margin-padding-divider) * 3);
}

.pl-4 {
	padding-left: calc(var(--margin-padding-divider) * 4);
}

.pl-5 {
	padding-left: calc(var(--margin-padding-divider) * 5);
}